li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  /* background: #eee; */
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

li:nth-child(odd) {
  background: #f9f9f9;
}

li:hover {
  background: #ddd;
}

li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.badge {
  box-sizing: border-box;
  display: inline-block;
  background-color: #2c3e50;
  color: #ffffff;

  border-radius: 3rem;
  text-align: center;

  font-size: 1.6rem;
  font-weight: 400;
  padding: 0.05rem 0.8rem 0.1rem;
  line-height: inherit;
}

.badge--line {
  background-color: transparent;
  color: #95a5a6;
  box-shadow: 0 0 0 1px #95a5a6;
}

.badge--info {
  background-color: #3498db;
}
